<?xml version="1.0" encoding="UTF-8"?>	<widget xmlns = "http://www.w3.org/ns/widgets"		xmlns:gap = "http://phonegap.com/ns/1.0"		id        = "com.katze.dbs"		versionCode="1.0.0"		version   = "1.0.0">		<name>DragonBall Super TV</name>		<description>	Aplicacion para ver los capitulos de dragonBall Super		</description>		<author href="" email="mauricio2769@gmail.com">	Mauricio Soriano		</author>				<icon src="img/icono.png"/>				<gap:plugin name="com.phonegap.plugins.facebookconnect" version="2.4" />			<param name="APP_ID" value="491074337734753" /> 			<param name="APP_NAME" value="dbsuper" /> 		</gap:plugin>	</widget>